In [ ]:
f = open('salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)
print(full_data)

In [1]:
import pandas as pd
arquivo = open('salarios.csv', 'r')
df = pd.read_csv(arquivo)
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"GARCIA, CHRISTOPHER A",CLERK - BD OF ELECTIONS,BOARD OF ELECTION COMMISSIONERS,F,SALARY,NaN,34176.0,NaN
1,"SILVA, JAVIER",PROJECT COORD,CHICAGO DEPARTMENT OF PUBLIC HEALTH,F,SALARY,NaN,71004.0,NaN
2,"HARRISON, LETECHIA",SR PROCUREMENT SPECIALIST,DEPARTMENT OF PROCUREMENT SERVICES,F,SALARY,NaN,90660.0,NaN
3,"WASHINGTON, MAURICE",PROJECT COORD,DEPARTMENT OF FAMILY AND SUPPORT SERVICES,F,SALARY,NaN,71004.0,NaN
4,"MCMAHON, THOMAS B",FIRE COMMUNICATIONS OPERATOR I,OFFICE OF EMERGENCY MANAGEMENT AND COMMUNICATIONS,F,SALARY,NaN,78792.0,NaN

In [3]:
df['Job Titles'].value_counts()

Job Titles
POLICE OFFICER                            8252
FIREFIGHTER-EMT                           1627
SERGEANT                                  1244
POLICE OFFICER (ASSIGNED AS DETECTIVE)    1096
MOTOR TRUCK DRIVER                         982
                                          ...
EQUIPMENT RENTAL COORD                       1
MANAGER - ZONING BD OF APPEALS               1
DATA ARCHITECT                               1
COORD OF GRANTS MANAGEMENT                   1
SUPERVISING PHOTOGRAPHIC TECHNICIAN          1
Name: count, Length: 1150, dtype: int64