Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

Exercício 2 - Crie uma lista de 5 objetos e imprima na tela.

Exercício 3 - Crie duas strings e concatene as duas em uma terceira string.

Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla.

Exercício 5 - Crie um dicionário vazio e imprima na tela.

Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela.

Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela.

Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. Imprima o dicionário na tela.

Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista.

Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18. frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [1]:
lista = [n for n in range(1, 11)]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
lista = [n for n in range(5)]
print(lista)

[0, 1, 2, 3, 4]

In [17]:
nome = 'Léo '
sobrenome = 'Sanders'
nome_completo = nome + sobrenome
print(nome_completo)

Léo Sanders

In [4]:
lista = (1, 2, 2, 3, 4, 4, 4, 5)
print(lista.count(4))

3

In [5]:
dicio = dict()
print(dicio)

{}

In [23]:
dicio = {
    'nome_1': 'Leo',
    'nome_2': 'Dandara',
    'nome_3': 'Lorena'}
print(dicio)

{'nome_1': 'Leo', 'nome_2': 'Dandara', 'nome_3': 'Lorena'}

In [24]:
dicio['nome_4'] = 'Gustavo'
print(dicio)

{'nome_1': 'Leo', 'nome_2': 'Dandara', 'nome_3': 'Lorena', 'nome_4': 'Gustavo'}

In [20]:
dicio_2 = {
    'int': 1,
    'float': 2.5,
    'lista': [1, 2.5]
}
print(dicio_2)

{'int': 1, 'float': 2.5, 'lista': [1, 2.5]}

In [11]:
lista = ['Léo', (1, 2), {'idade': 29, 'altura': 1.83}, 1.5]
print(lista)

['Léo', (1, 2), {'idade': 29, 'altura': 1.83}, 1.5]

In [16]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[:19])

Cientista de Dados